<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <!-- Github tag -->
    <add key="GitRepo" value="https://github.com/mondemonde/SquirrelDemo"/>
    <!--<add key="GitRepo" value="https://github.com/mondemonde/SteeroidUpdateManager"/>-->


    <!-- Application name on local app -->
    <add key="AppName" value="SquirrelDemo"/>
    <!--<add key="AppName" value="SteeroidAutomation"/>-->



  </appSettings>

</configuration>
